<%= form_for(@pocket) do |f| %>

    <%= f.label :balance %> </br> 

    <%= f.text_field :balance %> </br> 

    <%= f.label :student_id %> </br> 

    <%= f.text_field :student_id %> </br> 

    <%= f.label :teacher_id %> </br> 

    <%= f.text_field :teacher_id %> </br>

    <%= f.submit "Save", class:"btn btn-outline-primary" %> 

    <%= link_to 'Back', pockets_path, class:"btn btn-outline-danger" %> 

<% end %>