<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>
<div class="container">
<table class="table table-striped">

    <thead class="thead-dark">

    <tr>

        <th>Balance</th>

        <th>Student_id</th>

        <th>Teacher_id</th>

        <th>Action</th>

    </tr>

    </thead>

    <tbody>

    <% @pockets.each do |pocket| %>

    <tr>

        <td><%= pocket.balance %></td>

        <td><%= pocket.student_id %></td>

        <td><%= pocket.teacher_id %></td>

        <td>
        <%= link_to 'Detail', pocket_path(pocket), class:"btn btn-outline-info" %> 
         <%= link_to 'Edit', edit_pocket_path(pocket), class:"btn btn-outline-secondary" %> 
          <%= link_to 'Delete', pocket_path(pocket) , method: :delete, data: {confirm: 'Apakah anda yakin?'}, class:"btn btn-outline-danger" %>
          </td>

        

    </tr>

    <% end %>

    </tbody>
</table> 
<%= link_to 'New pocket', new_pocket_path(), class:"btn btn-outline-primary" %>
  </body>
</html>

