<%= form_for(@pocket) do |s| %>

    <%= s.label :balance %> </br> 

    <%= s.text_field :balance %> </br> 

    <%= s.label :student_id %> </br> 

    <%= s.text_field :student_id %> </br> 

    <%= s.label :teacher_id %> </br> 

    <%= s.text_field :teacher_id %> </br>

    <%= s.submit "Save", class:"btn btn-primary"%> 

    <%= link_to 'Back', pockets_path, class:"btn btn-danger"%> 

<% end %>