<%= form_for(@payment) do |f| %>

    <%= f.label :id_transaksi %> </br> 

    <%= f.text_field :id_transaksi %> </br> 

    <%= f.label :status %> </br> 

    <%= f.text_field :status %> </br> 

    <%= f.label :upload %> </br> 

    <%= f.text_field :upload %> </br>

    <%= f.submit "Save", class:"btn btn-outline-primary" %> 

    <%= link_to 'Back', payments_path, class:"btn btn-outline-danger" %> 

<% end %>