<%= form_for(@payment) do |s| %>

    <%= s.label :id_transaksi %> </br> 

    <%= s.text_field :id_transaksi %> </br> 

    <%= s.label :status %> </br> 

    <%= s.text_field :status %> </br> 

    <%= s.label :upload %> </br> 

    <%= s.text_field :upload %> </br>

    <%= s.submit "Save", class:"btn btn-outline-info"%> 

    <%= link_to 'Back', payments_path(), class:"btn btn-outline-danger"%> 

<% end %>