<%= form_for(@exam) do |s| %>

    <%= s.label :title %> </br> 

    <%= s.text_field :title %> </br> 

    <%= s.label :mapel %> </br> 

    <%= s.text_field :mapel %> </br> 

    <%= s.label :duration %> </br> 

    <%= s.text_field :duration %> </br>

    <%= s.label :nilai %> </br> 

    <%= s.text_field :nilai %> </br>

    <%= s.label :aktifnonaktif %> </br> 

    <%= s.text_field :aktifnonaktif %> </br>

    <%= s.label :level %> </br> 

    <%= s.text_field :level %> </br>

    <%= s.label :student_id %> </br> 

    <%= s.text_field :student_id %> </br>

    <%= s.submit "Save" %> 

    <%= link_to 'Back', exams_path %> 

    

<% end %>