<%= form_for(@report) do |s| %>

    <%= s.label :title %> </br> 

    <%= s.text_field :title %> </br> 

    <%= s.label :hasil %> </br> 

    <%= s.text_field :hasil %> </br> 

    <%= s.label :mapel %> </br> 

    <%= s.text_field :mapel %> </br>

    <%= s.label :teacher_id %> </br> 

    <%= s.text_field :teacher_id %> </br>

    <%= s.label :student_id %> </br> 

    <%= s.text_field :student_id %> </br>

    <%= s.label :date %> </br> 

    <%= s.text_field :date %> </br>

    <%= s.submit "Save" %> 

    <%= link_to 'Back', students_path %> 

<% end %>